{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">

    {% for message in messages %}

    <li class="list-group-item">
      <a href="/messages/{{ message.id }}" class="message-link"></a>

      <a href="/users/{{ message.user.id }}">
        <img src="{{ message.user.image_url }}"
             alt="user image"
             class="timeline-image">
      </a>

      <div class="message-area">
        <a href="/users/{{ message.user.id }}">@{{ message.user.username }}</a>
        <span class="text-muted">
              {{ message.timestamp.strftime('%d %B %Y') }}
            </span>
        <p>{{ message.text }}</p>
      </div>
      <div class="interaction" style="z-index: 100;">
        <form method="POST">
          {{ g.csrf_form.hidden_tag() }}
          {% if message in g.user.liked_messages %}
            <button
              class="btn btn-outline-danger"
              style="border: none;"
              formaction="/messages/{{ message.id }}/unlike"
            >
              <i class="bi bi-heart-fill"></i>
            </button>
          {% elif message.user_id != g.user.id %}
            <button
              formaction="/messages/{{ message.id }}/like"
              style="border: none;"
              class="btn btn-outline-danger"
            >
              <i class="bi bi-heart"></i>
            </button>
          {% endif %}
        </form>
      </div>
    </li>

    {% endfor %}

  </ul>
</div>
{% endblock %}